<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.TestMapper">
	<resultMap id="BaseResultMap" type="com.ssm.bean.Testt">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="com.ssm.bean.User" id="userMap">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="user_name" property="userName" jdbcType="VARCHAR"/>
		<result column="age" property="age" jdbcType="INTEGER"/>
	</resultMap>
	
	
	<sql id="Base_Column_List">
		id, name
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from test
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from test
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ssm.bean.Testt">
		insert into test (id, name)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.ssm.bean.Testt">
		insert into test
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.ssm.bean.Testt">
		update test
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.ssm.bean.Testt">
		update test
		set
		name = #{name,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="getUser" resultMap="userMap">
		select * from user_t where
		user_name=#{userName}
		and password=#{password}
	</select>

	<insert id="userRegist">
		insert into user_t(
		user_name,password,age
		)
		values(#{userName},#{password},#{age})
	</insert>
	
	<select id="ifUserExist" resultType="int">
		select count(1) from user_t where user_name=#{userName}
	</select>

</mapper>